:root{
    --cor_de_fundo_um:#13007c;
    --cor_letra_fundo_um:#00a2ff;
    --cor_de_fundo_dois:#efeeff;
    --cor_letra_de_fundo_claro:#000000;
}
* {
    margin:0;
    padding:0;
}
.banner {
    width:100%;
    height: 100px;
    background-color: var(--cor_letra_de_fundo_claro);
}
.estudante{
    height: 100px;
    width: 14%;
}
.conteudo{
    width: 100%;
    height: 550px;
    background-color: var(--cor_de_fundo_dois);
}
.rodape{
    width: 100%;
    height: 50px;
    background-color: var(--cor_letra_de_fundo_claro);
}