:root{
    --cor_de_fundo_um:#f18a61;
    --cor_letra_fundo_um:#cf5c39;
    --cor_de_fundo_dois:#e3e7e9;
    --cor_letra_de_fundo_claro:#83a57e;
}
* {
    margin:0;
    padding:0;
}
.banner {
    width:100%;
    height: 100px;
    background-color: var(--cor_letra_de_fundo_claro);
}
.estudante{
    height: 100px;
    width: 10%;
}
.conteudo{
    width: 100%;
    height: 550px;
    background-color: var(--cor_de_fundo_dois);
}
.rodape{
    width: 100%;
    height: 50px;
    background-color: var(--cor_letra_de_fundo_claro);
}
h1 {
    text-align: center;
}